<h1>Panel pracownika</h1>

<div class="buttons-container">

    <button mat-raised-button color="primary" (click)="router.navigate(['/dashboard/addSegment'])">Dodaj odcinek</button><br>
    <button mat-raised-button color="primary" (click)="router.navigate(['/dashboard/editSegment'])">Edytuj odcinki</button><br>
    <button mat-raised-button color="primary" (click)="router.navigate(['/dashboard/addPoint'])">Dodaj punkt</button><br>
    <button mat-raised-button color="primary" (click)="router.navigate(['/dashboard/editPoint'])">Edytuj punkty</button>

</div>