  form {
    text-align: center;
  }

  .action-div{
      margin-top: 40px;
      width: fit-content;
      margin-left: auto;
      margin-right: auto;
  }

  button {
      margin : 10px;
      min-width: 100px;
  }

  .searchButton {
      margin-top: 80%;
  }