<h1>Edytowanie odcinków</h1>

<form>
    <div class="action-div">

    <div style="float: left; width: 500px">
      <mat-form-field class="big">
        <mat-label>Punkty</mat-label>
        <input matInput name="pointSearch" [(ngModel)]="pointSearch">
        <mat-hint>Punkty oddziel przecinkami</mat-hint>
      </mat-form-field><br>

      <mat-form-field class="big">
        <mat-label>Odcinki</mat-label>
        <input matInput name="segmentSearch" [(ngModel)]="segmentSearch">
      </mat-form-field>

    </div>

    <div style="float: left;">
        <button mat-raised-button (click)="search()" class="searchButton">Szukaj</button>
    </div>

    <div style="clear: both;"></div>


    </div>
</form>

<div class="spinner" *ngIf="!loaded"><mat-spinner></mat-spinner></div>

<h2 *ngIf="segments.data.length < 1 && loaded">Wyszukaj dane aby otrzymać wyniki</h2>

<div *ngIf="segments.data.length > 0 && loaded">

<table name="odcinki" mat-table [dataSource]="segments" class="mat-elevation-z8">

    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef> Nazwa odcinka </th>
      <td mat-cell *matCellDef="let res"> {{res.Nazwa}} </td>
    </ng-container>

    <ng-container matColumnDef="begin">
        <th mat-header-cell *matHeaderCellDef> Punkt początkowy </th>
        <td mat-cell *matCellDef="let res"> {{res.PPNazwa}} </td>
      </ng-container>

      <ng-container matColumnDef="end">
        <th mat-header-cell *matHeaderCellDef> Punkt końcowy </th>
        <td mat-cell *matCellDef="let res"> {{res.PKNazwa}} </td>
      </ng-container>


      <ng-container matColumnDef="area">
        <th mat-header-cell *matHeaderCellDef> Teren </th>
        <td mat-cell *matCellDef="let res"> {{res.TerenNazwa}} </td>
      </ng-container>


      <ng-container matColumnDef="points">
        <th mat-header-cell *matHeaderCellDef> Punktacja </th>
        <td mat-cell *matCellDef="let res"> {{res.Punktacja}} / {{res.PunktacjaOdKonca}} </td>
      </ng-container>


      <ng-container matColumnDef="length">
        <th mat-header-cell *matHeaderCellDef> Długość </th>
        <td mat-cell *matCellDef="let res"> {{res.Dlugosc}} </td>
      </ng-container>


    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row
    *matRowDef="let row; columns: displayedColumns;"
    name=""
    class="element-row"
    [class.expanded]="selectedSegment == row"
    (click)="select(row)"></tr>
  </table>

  <div class="action-div">

  <div style ="float: left;">
  <form>
    <div style="width: 500px;">

      <mat-form-field class="big">
        <mat-label>Nazwa</mat-label>
        <input matInput id="nameField" name="name" [(ngModel)]="name">
      </mat-form-field><br>

      <mat-form-field class="small">
        <mat-label>Punktacja</mat-label>
        <input matInput type="number" name="p1" [(ngModel)]="p1">
      </mat-form-field>

      <mat-form-field class="small">
        <mat-label>Punktacja od końca</mat-label>
        <input matInput type="number" name="p2" [(ngModel)]="p2">
      </mat-form-field><br>
      </div>
</form>

</div>

<div style ="float: left;">

    <button mat-raised-button color="warn" (click)="delete()">Usuń</button><br>
    <button mat-raised-button color="primary" [disabled]="!checkDataIsValid()" (click)="save()">Zapisz</button>

</div>

<div style="clear: both;"></div>

</div>

</div>

