.isDisabled {
    color: currentColor;
    cursor: not-allowed;
    opacity: 0.5;
    text-decoration: none;
  }

  #innerbox
  {
    width: 500px;
    max-width: 500px;
    margin-right: auto;
    margin-left: auto;
  }
  .img-resposive
  {
    width: 100px;
    height: 100px;
  }