.isDisabled {
    color: currentColor;
    pointer-events: none;
    cursor: not-allowed;
    opacity: 0.5;
    text-decoration: none;
  }

  #innerbox
  {
    width: 500px;
    max-width: 500px;
    margin-right: auto;
    margin-left: auto;
  }
  
  .img-responsive
  {
    width: 200px;
    height: 200px;
  }

  mat-grid-tile{
    border: dotted 2px silver;
  }