
<mat-spinner *ngIf="!loaded"></mat-spinner>

<div *ngIf="loaded" id="innerbox">
    <mat-grid-list cols="2" rowHeight="1:1" gutterSize="10px">
        <div *ngFor="let badge of allBadges;">
            <a routerLink="/badges/{{badge.name}}" [ngClass]="{isDisabled: !badge.available}">
                <mat-grid-tile>
                    <img class="img-responsive" src="assets/got_images/{{badge.filename}}">
                </mat-grid-tile>
            </a>
        </div>
    </mat-grid-list>

</div>
