form {
    text-align: center;
  }

  button {
      margin : 10px;
      min-width: 100px;
  }

  .searchButton {
      margin-top: 80%;
  }

  .mat-elevation-z8{
      margin-bottom: 20px;
      margin-top: 20px;
  }