<h1>Dodawanie punktu</h1>

<form>
    <div style="text-align: center;">

      <mat-form-field class="big">
        <mat-label>Nazwa</mat-label>
        <input matInput name="name" [(ngModel)]="name">
      </mat-form-field><br>

      <mat-form-field class="big">
        <mat-label>Wysokość npm</mat-label>
        <input matInput name="npm" type="number" [(ngModel)]="npm">
      </mat-form-field><br>
    
    </div>
 </form>

 <button mat-raised-button color="primary" (click)="savePoint()" style="float:right">Dodaj</button>
 <div style="clear:both"></div>


